@font-face {
    font-family: "Extatica";
    src: url("../assets/fonts/Extatica-Thin.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html{
    background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
    color: white;
    font-family: 'Extatica';
    font-style: normal;
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 45px;
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    color: white;
}
