@font-face {
    font-family: "Extatica";
    src: url("../fonts/Extatica-Thin.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html{
    background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
    color: white;
    font-family: 'Extatica';
    font-style: normal;
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
button{
    position: relative;
    background-color: transparent;
    width: 120px;
    height: 150px;
    background-image: url("../pictures/icons/ellipse.svg"); /* Замените путь_к_изображению на путь к вашему изображению */
    background-size: cover; /* Масштабирует изображение, чтобы оно полностью заполнило фон кнопки */
    border: none; /* Убирает границу кнопки */
    cursor: pointer;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 0px 60px;
    align-items: center;
}
.header__social{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.content{
    position: relative;
    top: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 350px;
}
.button__arrow{
    position: absolute;
    top: 55px;
    right: 42px;
    max-height: 40px;
}
.button--reverse{
    transform: scale(-1, 1)
}
.slider{
    width: 450px;
    height: 100%;
    overflow: hidden;
}
.slider__img--size{
    max-height: 350px;
    width: 450px;
}
.slider--line{
    position: relative;
width: 1800px;
    transition: all ease 1s;

}